<div class="calculator">
  <div class="top">
    <div class="theme-toggle">
      <label class="switch">
        <input type="checkbox" (change)="toggleTheme()">
        <span class="slider"></span>
      </label>
    </div>


    <div class="display">
      <div class="full-expression">{{ fullExpression$ | async }}</div>
      <div class="result">{{ display$ | async }}</div>
    </div>

  </div>


  <div class="buttons">
    <button class="btn-special" (click)="onClearAllClick()">AC</button>
    <button class="btn-special" (click)="onBackspaceClick()"><i class="fa-solid fa-delete-left"></i></button>
    <button class="btn-special" (click)="onPercentClick()">%</button>
    <button (click)="onOperatorClick('/')">/</button>


    <button (click)="onDigitClick('7')">7</button>
    <button (click)="onDigitClick('8')">8</button>
    <button (click)="onDigitClick('9')">9</button>
    <button (click)="onOperatorClick('*')">x</button>


    <button (click)="onDigitClick('4')">4</button>
    <button (click)="onDigitClick('5')">5</button>
    <button (click)="onDigitClick('6')">6</button>
    <button (click)="onOperatorClick('-')">-</button>


    <button (click)="onDigitClick('1')">1</button>
    <button (click)="onDigitClick('2')">2</button>
    <button (click)="onDigitClick('3')">3</button>
    <button (click)="onOperatorClick('+')">+</button>


    <button (click)="onDigitClick('0')">0</button>
    <button (click)="onToggleNegative()">±</button>
    <button (click)="onDecimalClick()">.</button>

    <button class="equals" (click)="onCalculateClick()">=</button>
  </div>
</div>
